// Defaulting styles for the APP
html,
body {
  height: 100%;
}

body {
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-color: $app_background;
  background-size: cover;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: normal;
  margin: 0 auto;
  max-width: $content-max-width;
  text-rendering: optimizeLegibility;
  width: 100%;
}
